Krynytska
<ul>
<li><a href="../lab2.Krynytska/student.html"> Студент </a></li>
<li><a href="../autobiography.html"> Автобіографія </a></li>
<li><a href="../lab2.Krynytska/history.html"> Історія </a></li>
<li><a href="../lab2.Krynytska/rizne.html"> Різне </a></li>
</ul>